html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  background-color: black;
  font-family: sans-serif;
}
.content {
 margin: auto;
 position: absolute;
 left: 0;
 right: 0;
 width: 800px;
 height: 90px;
 padding: 0px 0px;
 background: black;
 border: 0 ;
z-index: 20;
overflow:hidden;
}
.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.top {
  position: absolute;
  margin-left: 1em;
  top: 4px;
  left: 0;
  font-size:30px;
}
#xmb-contain {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.01);
}
#xmb {
  width: 100px;
  position: relative;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  margin-right: 200px;
  user-select: none;
}
#xmb > ul {
  display: flex;
  flex: 1 1 auto;
  position: absolute;
  top: 10%;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
#xmb li,
#xmb ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
}
#xmb li.column > ul {
  position: relative;
  display: flex;
  flex-direction: column;
}
#xmb .cell {
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin: 10px;
  opacity: 0.2;
  position: absolute;
  transition: all 0.3s;
  cursor: pointer;
}
#xmb .cell.active {
  opacity: 1;
}
#xmb .column:not(.active) .cell.submenu:not(.active) {
  display: none;
  opacity: 0;
}
#xmb .column {
  transition: all 0.3s;
  flex: 0 1 auto;
  margin: 0 0;
}
#xmb .column.active {
  flex: 1 1 auto;
}
.xmb-icon {
  text-align: center;
  width: 100%;
  font-size: 65px;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
#xmb label {
  display: block;
  text-align: center;
  text-shadow: 0px 0px 5px #000000;
  font-size: 30px;
  text-transform: capitalize;
  color: red;
  cursor: pointer;
}
#xmb .cell.submenu,
#xmb .cell.submenu > * {
  line-height: 100px;
}
#xmb .submenu label:not(.subtitle) {
  position: absolute;
  top: 0;
  line-height: 50px;
  margin-left: 100px;
  font-size: 30px;
  color: lime;
}
#xmb .submenu label.subtitle {
  position: absolute;
  top: 55px;
  margin-left: 0;
  font-size: 20px;
  line-height: 0;
  color: yellow;
}
a {
  color: inherit;
  cursor: pointer;
}
